.container {
    
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    background-color: aqua;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.cell {
    width: 33%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}

.cell:hover {
    background-color: aquamarine;
}